{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Video Store</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" type='text/css'  href="{% static 'css/style .css' %}" > 
    <link rel="stylesheet" href="https://m.w3newbie.com/you-tube.css">
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark and bg-dark sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="{% static 'img/ProjLogo-01.png' %}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        <form class="form-inline my-4 my-lg-0 mx-lg-auto">
          <input class="form-control mr-sm-3" type="search" placeholder="Search movies" aria-label="Search">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fas fa-search"></i> Search</button>
        </form>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href=""><i class="fas fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
              {%if user.is_authenticated %}
              <a class="nav-link" href="rentals"> Your Rentals</a>
              {% else %}
              <a class="nav-link" href="login"> Sign in</a>
              {% endif %}
            </li>
            <li class="nav-item">
              {% if user.is_authenticated == False %}
              <a class="nav-link" href="register"> Register</a>
              {% endif%}
            </li>>
            <li class="nav-item dropdown">
              {% if user.is_authenticated %}
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"><i class="fas fa-user-circle"></i>  Hi {{ user.username }}!</a>
              {% else %}
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"><i class="fas fa-user-circle"></i> User</a>
              {% endif%}
                {% if user.is_authenticated %}
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="logout">Sign out</a>
                {% endif %}
                </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid my-container">
        <!--- Image Slider: This is the image slider below the navbar. NB: these are static images! Make sure to include these particular images-->
        <div class="row my-row-mainImgSlider">
            <div id="slides" class="carousel slide container-fluid" data-ride="carousel">
              <ul class="carousel-indicators">
                <li data-target="#slides" data-slide-to="0" class="active"></li>
                <li data-target="#slides" data-slide-to="1"></li>
                <li data-target="#slides" data-slide-to="2"></li>
              </ul>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{% static 'img/carouselImage1.png' %}">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'img/carouselImage2.png' %}">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'img/carouselImage3.png' %}" >
                </div>
              </div>
            </div>
        </div>

        <!-- The Modal: One modal was created and then all buttons are linked via the modal ID ("#myModal") -->
        <div class="modal fade" id="myModal">
          <div class="modal-dialog modal-lg">
              <div class="modal-content mx-auto mw-100" >
                  <div class="modal-header">
                      <button class="close" data-dismiss="modal"><span>&times;</span></button>
                      <h3>Title of the movie</h3>
                  </div>
                  <div class="modal-body">
                      <div class="row modal-row-1">
                        <div class="col-md-6">
                            <img class="card-img-modal" src="{% static 'img/image2Car.jpg'  %}" style="max-width:250px;">
                        </div>
                        <div class="col-md-6">
                            <div class="row modal-row">
                                <div class="col-md-3">
                                      <div class="row modal-row">
                                          <h6>Genre: </h6>
                                      </div>
                                      <div class="row modal-row">
                                          <h6>Duration: </h6>
                                      </div>
                                      <div class="row modal-row">
                                          <h6>Year: </h6>
                                      </div>
                                      <div class="row modal-row">
                                          <h6>Availability: </h6>
                                      </div>
                                      <div class="row modal-row">
                                          <h6>Description: </h6>
                                      </div>
                                      </div>
                                <div class="col-md-3">
                                      <div class="row modal-row">
                                        <h6>Comedy</h6>
                                      </div>
                                      <div class="row modal-row">
                                        <h6>2hr 30min</h6>
                                      </div>
                                      <div class="row modal-row">
                                        <h6>2019</h6>
                                      </div>
                                      <div class="row modal-row">
                                        <h6>Available</h6>
                                      </div>
                                </div>
                            </div>
                            <div class="row modal-row">
                                <p>
                                  "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                                  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
                                  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                                  sunt in culpa qui officia deserunt mollit anim id est laborum."
                                </p>
                            </div>
                        </div>
                  </div>
                  <div class="modal-footer">
                      <button class="btn btn-outline-dark"  onclick="contact_send();">RENT</button>
                      <div class="btn btn-outline-dark" data-dismiss="modal">Close</div>
                  </div>
              </div>
          </div>
        </div>

      </div>

        <!--First Carousel: Latest Releases-->
        <div class="row my-row-carousel1">
            <div class="container-fluid my-3">
                <h3 style="color:#ebebeb; font-size:220%;"> Latest Releases </h3>
                <hr class="my-3">

                <!--Carousel Wrapper-->
                <div id="multi-item1" class="carousel slide carousel-multi-item" data-ride="carousel">

                <!--Controls-->
                <div class="controls-top">
                  <a class="btn-floating" href="#multi-item1" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                  <a class="btn-floating" href="#multi-item1" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                </div>
                <!--/.Controls-->

                <!--Slides-->
                <div class="carousel-inner" role="listbox">

                  <!--First slide-->
                  <div class="carousel-item active">
                    <div class="row">
                      {% for movie in latest_slide_1 %}
                      <div class="col-md-3">
                        <div class="card mb-1">
                          <img class="card-img-top" src="/media/{{movie.poster}}" 
                          alt="Card image cap">
                          <div class="card-body">
                            <p class="card-text"  >{{ movie.description }}</p>
                            <div class="card-footer">
                                <form action='book/' method="POST">
                                    {% csrf_token %}
                                    <button class="btn btn-outline-light my-2 my-sm-0" data-target="#myModal" data-toggle="modal" type="submit"> View</button>
                                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit" name=movie_id value='{{ movie.id }}'> Rent</button>
                                </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                    </div>
                  </div>
                  <!--/.First slide-->

                  <!--Second slide-->
                  <div class="carousel-item">
                    <div class="row">
                        {% for movie in latest_slide_2 %}
                        <div class="col-md-3">
                          <div class="card mb-1">
                            <img class="card-img-top" src="/media/{{movie.poster}}"
                             alt="Card image cap">
                            <div class="card-body">
                              <p class="card-text">{{ movie.description }}</p>
                              <div class="card-footer">
                                <button class="btn btn-outline-light my-2 my-sm-0" data-target="#myModal" data-toggle="modal" type="submit"> View</button>
                                <button class="btn btn-outline-light my-2 my-sm-0" type="submit"> Rent</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                  <!--/.Second slide-->

                  <!--Third slide-->
                  <div class="carousel-item">
                      <div class="row">
                          {% for movie in latest_slide_3 %}
                          <div class="col-md-3">
                            <div class="card mb-1">
                              <img class="card-img-top" src="/media/{{movie.poster}}"
                               alt="Card image cap">
                              <div class="card-body">
                                <p class="card-text">{{ movie.description }}</p>
                                <div class="card-footer">
                                  <button class="btn btn-outline-light my-2 my-sm-0" data-target="#myModal" data-toggle="modal" type="submit"> View</button>
                                  <button class="btn btn-outline-light my-2 my-sm-0" type="submit"> Rent</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  <!--/.Third slide-->

                  <!--Forth slide-->
                  <div class="carousel-item">
                      <div class="row">
                          {% for movie in latest_slide_4 %}
                          <div class="col-md-3">
                            <div class="card mb-1">
                              <img class="card-img-top" src="/media/{{movie.poster}}"
                               alt="Card image cap">
                              <div class="card-body">
                                <p class="card-text">{{ movie.description }}</p>
                                <div class="card-footer">
                                  <button class="btn btn-outline-light my-2 my-sm-0" data-target="#myModal" data-toggle="modal" type="submit"> View</button>
                                  <button class="btn btn-outline-light my-2 my-sm-0" type="submit"> Rent</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                <!--/.Slides-->

              </div>
              <!--/.Carousel Wrapper-->

          </div>
        </div>
        <!--End of First carousel-->

        <!--Second Carousel: Action-->
        <div class="row my-row-carousel2">
            <div class="container-fluid my-3">
                <h3 style="color:#ebebeb; font-size:220%;"> Action </h3>
                <hr class="my-3">

                <!--Carousel Wrapper-->
                <div id="multi-item2" class="carousel slide carousel-multi-item" data-ride="carousel" data-interval="false">

                <!--Controls-->
                <div class="controls-top">
                  <a class="btn-floating" href="#multi-item2" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                  <a class="btn-floating" href="#multi-item2" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                </div>
                <!--/.Controls-->

                <!--Slides-->
                <div class="carousel-inner" role="listbox">

                    <div class="carousel-inner" role="listbox">

                        <!--First slide-->
                        <div class="carousel-item active">
                          <div class="row">
                            {% for movie in action_slide_1 %}
                            <div class="col-md-3">
                              <div class="card mb-1">
                                <img class="card-img-top" src="/media/{{movie.poster}}" 
                                alt="Card image cap">
                                <div class="card-body">
                                  <p class="card-text">{{ movie.description }}</p>
                                  <div class="card-footer">
                                    <button class="btn btn-outline-light my-2 my-sm-0" data-target="#myModal" data-toggle="modal" type="submit"> View</button>
                                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit"> Rent</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          {% endfor %}
                          </div>
                        </div>
                        <!--/.First slide-->
      
                        <!--Second slide-->
                        <div class="carousel-item">
                          <div class="row">
                              {% for movie in action_slide_2 %}
                              <div class="col-md-3">
                                <div class="card mb-1">
                                  <img class="card-img-top" src="/media/{{movie.poster}}"
                                   alt="Card image cap">
                                  <div class="card-body">
                                    <p class="card-text">{{ movie.description }}</p>
                                    <div class="card-footer">
                                      <button class="btn btn-outline-light my-2 my-sm-0" data-target="#myModal" data-toggle="modal" type="submit"> View</button>
                                      <button class="btn btn-outline-light my-2 my-sm-0" type="submit"> Rent</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            {% endfor %}
                          </div>
                        </div>
                        <!--/.Second slide-->
      
                        <!--Third slide-->
                        <div class="carousel-item">
                            <div class="row">
                                {% for movie in action_slide_3 %}
                                <div class="col-md-3">
                                  <div class="card mb-1">
                                    <img class="card-img-top" src="/media/{{movie.poster}}"
                                     alt="Card image cap">
                                    <div class="card-body">
                                      <p class="card-text">{{ movie.description }}</p>
                                      <div class="card-footer">
                                        <button class="btn btn-outline-light my-2 my-sm-0" data-target="#myModal" data-toggle="modal" type="submit"> View</button>
                                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit"> Rent</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              {% endfor %}
                            </div>
                          </div>
                        <!--/.Third slide-->
      
                        <!--Forth slide-->
                        <div class="carousel-item">
                            <div class="row">
                                {% for movie in action_slide_4 %}
                                <div class="col-md-3">
                                  <div class="card mb-1">
                                    <img class="card-img-top" src="/media/{{movie.poster}}"
                                     alt="Card image cap">
                                    <div class="card-body">
                                      <p class="card-text">{{ movie.description }}</p>
                                      <div class="card-footer">
                                        <button class="btn btn-outline-light my-2 my-sm-0" data-target="#myModal" data-toggle="modal" type="submit"> View</button>
                                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit"> Rent</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              {% endfor %}
                            </div>
                          </div>
                      <!--/.Slides-->

              </div>
              <!--/.Carousel Wrapper-->

          </div>
        </div>
        <!--End of Second carousel-->

        <!--Third Carousel: Comedy-->
        <div class="row my-row-carousel3">
            <div class="container-fluid my-3">
                <h3 style="color:#ebebeb; font-size:220%;"> Comedy </h3>
                <hr class="my-3">

                <!--Carousel Wrapper-->
                <div id="multi-item3" class="carousel slide carousel-multi-item" data-ride="carousel" data-interval="false">

                <!--Controls-->
                <div class="controls-top">
                  <a class="btn-floating" href="#multi-item3" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                  <a class="btn-floating" href="#multi-item3" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                </div>
                <!--/.Controls-->

                <!--Slides-->
                <div class="carousel-inner" role="listbox">

                    <div class="carousel-inner" role="listbox">

                        <!--First slide-->
                        <div class="carousel-item active">
                          <div class="row">
                            {% for movie in comedy_slide_1 %}
                            <div class="col-md-3">
                              <div class="card mb-1">
                                <img class="card-img-top" src="/media/{{movie.poster}}" 
                                alt="Card image cap">
                                <div class="card-body">
                                  <p class="card-text">{{ movie.description }}</p>
                                  <div class="card-footer">
                                    <button class="btn btn-outline-light my-2 my-sm-0" data-target="#myModal" data-toggle="modal" type="submit"> View</button>
                                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit"> Rent</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          {% endfor %}
                          </div>
                        </div>
                        <!--/.First slide-->
      
                        <!--Second slide-->
                        <div class="carousel-item">
                          <div class="row">
                              {% for movie in comedy_slide_2 %}
                              <div class="col-md-3">
                                <div class="card mb-1">
                                  <img class="card-img-top" src="/media/{{movie.poster}}"
                                   alt="Card image cap">
                                  <div class="card-body">
                                    <p class="card-text">{{ movie.description }}</p>
                                    <div class="card-footer">
                                      <button class="btn btn-outline-light my-2 my-sm-0" data-target="#myModal" data-toggle="modal" type="submit"> View</button>
                                      <button class="btn btn-outline-light my-2 my-sm-0" type="submit"> Rent</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            {% endfor %}
                          </div>
                        </div>
                        <!--/.Second slide-->
      
                        <!--Third slide-->
                        <div class="carousel-item">
                            <div class="row">
                                {% for movie in comedy_slide_3 %}
                                <div class="col-md-3">
                                  <div class="card mb-1">
                                    <img class="card-img-top" src="/media/{{movie.poster}}"
                                     alt="Card image cap">
                                    <div class="card-body">
                                      <p class="card-text">{{ movie.description }}</p>
                                      <div class="card-footer">
                                        <button class="btn btn-outline-light my-2 my-sm-0" data-target="#myModal" data-toggle="modal" type="submit"> View</button>
                                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit"> Rent</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              {% endfor %}
                            </div>
                          </div>
                        <!--/.Third slide-->
      
                        <!--Forth slide-->
                        <div class="carousel-item">
                            <div class="row">
                                {% for movie in comedy_slide_4 %}
                                <div class="col-md-3">
                                  <div class="card mb-1">
                                    <img class="card-img-top" src="/media/{{movie.poster}}"
                                     alt="Card image cap">
                                    <div class="card-body">
                                      <p class="card-text">{{ movie.description }}</p>
                                      <div class="card-footer">
                                        <button class="btn btn-outline-light my-2 my-sm-0" data-target="#myModal" data-toggle="modal" type="submit"> View</button>
                                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit"> Rent</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              {% endfor %}
                            </div>
                          </div>
                      <!--/.Slides-->

              </div>
              <!--/.Carousel Wrapper-->

          </div>
        </div>
        <!--End of Third carousel-->

        <!--Fourth Carousel: Family-->
        <div class="row my-row-carousel4">
            <div class="container-fluid my-3">
                <h3 style="color:#ebebeb; font-size:220%;"> Family </h3>
                <hr class="my-3">

                <!--Carousel Wrapper-->
                <div id="multi-item4" class="carousel slide carousel-multi-item" data-ride="carousel" data-interval="false">

                <!--Controls-->
                <div class="controls-top">
                  <a class="btn-floating" href="#multi-item4" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                  <a class="btn-floating" href="#multi-item4" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                </div>
                <!--/.Controls-->

                <!--Slides-->
                <div class="carousel-inner" role="listbox">

                  <!--First slide-->
                  <div class="carousel-inner" role="listbox">

                      <!--First slide-->
                      <div class="carousel-item active" >
                        <div class="row">
                          {% for movie in family_slide_1 %}
                          <div class="col-md-3">
                            <div class="card mb-1">
                              <img class="card-img-top" src="/media/{{movie.poster}}" 
                              alt="Card image cap">
                              <div class="card-body">
                                <p class="card-text">{{ movie.description }}</p>
                                <div class="card-footer">
                                  <button class="btn btn-outline-light my-2 my-sm-0" data-target="#myModal" data-toggle="modal" type="submit"> View</button>
                                  <button class="btn btn-outline-light my-2 my-sm-0" type="submit"> Rent</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        {% endfor %}
                        </div>
                      </div>
                      <!--/.First slide-->
    
                      <!--Second slide-->
                      <div class="carousel-item">
                        <div class="row">
                            {% for movie in family_slide_2 %}
                            <div class="col-md-3">
                              <div class="card mb-1">
                                <img class="card-img-top" src="/media/{{movie.poster}}"
                                 alt="Card image cap">
                                <div class="card-body">
                                  <p class="card-text">{{ movie.description }}</p>
                                  <div class="card-footer">
                                    <button class="btn btn-outline-light my-2 my-sm-0" data-target="#myModal" data-toggle="modal" type="submit"> View</button>
                                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit"> Rent</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          {% endfor %}
                        </div>
                      </div>
                      <!--/.Second slide-->
    
                      <!--Third slide-->
                      <div class="carousel-item">
                          <div class="row">
                              {% for movie in family_slide_3 %}
                              <div class="col-md-3">
                                <div class="card mb-1">
                                  <img class="card-img-top" src="/media/{{movie.poster}}"
                                   alt="Card image cap">
                                  <div class="card-body">
                                    <p class="card-text">{{ movie.description }}</p>
                                    <div class="card-footer">
                                      <button class="btn btn-outline-light my-2 my-sm-0" data-target="#myModal" data-toggle="modal" type="submit"> View</button>
                                      <button class="btn btn-outline-light my-2 my-sm-0" type="submit"> Rent</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            {% endfor %}
                          </div>
                        </div>
                      <!--/.Third slide-->
    
                      <!--Forth slide-->
                      <div class="carousel-item">
                          <div class="row">
                              {% for movie in family_slide_4 %}
                              <div class="col-md-3">
                                <div class="card mb-1">
                                  <img class="card-img-top" src="/media/{{movie.poster}}"
                                   alt="Card image cap">
                                  <div class="card-body">
                                    <p class="card-text">{{ movie.description }}</p>
                                    <div class="card-footer">
                                      <button class="btn btn-outline-light my-2 my-sm-0" data-target="#myModal" data-toggle="modal" type="submit"> View</button>
                                      <button class="btn btn-outline-light my-2 my-sm-0" type="submit"> Rent</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            {% endfor %}
                          </div>
                        </div>
                    <!--/.Slides-->

              </div>
              <!--/.Carousel Wrapper-->

          </div>
        </div>
        <!--End of Fourth carousel-->

        <!--Fifth Carousel: Horror-->
        <div class="row my-row-carousel5">
            <div class="container-fluid my-3">
                <h3 style="color:#ebebeb; font-size:220%;"> Horror </h3>
                <hr class="my-3">

                <!--Carousel Wrapper-->
                <div id="multi-item5" class="carousel slide carousel-multi-item" data-ride="carousel" data-interval="false">

                <!--Controls-->
                <div class="controls-top">
                  <a class="btn-floating" href="#multi-item5" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                  <a class="btn-floating" href="#multi-item5" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                </div>
                <!--/.Controls-->

                <!--Slides-->
                <div class="carousel-inner" role="listbox">

                    <div class="carousel-inner" role="listbox">

                        <!--First slide-->
                        <div class="carousel-item active">
                          <div class="row">
                            {% for movie in horror_slide_1 %}
                            <div class="col-md-3">
                              <div class="card mb-1">
                                <img class="card-img-top" src="/media/{{movie.poster}}" 
                                alt="Card image cap">
                                <div class="card-body">
                                  <p class="card-text">{{ movie.description }}</p>
                                  <div class="card-footer">
                                    <button class="btn btn-outline-light my-2 my-sm-0" data-target="#myModal" data-toggle="modal" type="submit"> View</button>
                                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit"> Rent</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          {% endfor %}
                          </div>
                        </div>
                        <!--/.First slide-->
    
                      <!--/.Slides-->
              </div>
              <!--/.Carousel Wrapper-->

          </div>
        </div>
        <!--End of Fifth carousel-->        



    <!--End of Container-->
    </div>




<!--- Connect -->
<div class="container-fluid padding">
    <div class="row text-center padding">
      <div class="col-12">
        <h2 style="color:#ebebeb; font-size:250%;"> Connect </h2>
      </div>
      <div class="col-12 social padding">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
     </div>
     </div>   
    



    <!--- Footer -->
    <footer class="container-fluid">
      <div class="container-fluid padding" >
      <div class="row text-center">
        <div class="col-md-4">
          <img src="{% static 'img/ProjLogo-01.png' %}">
          <hr class="light">
          <p>222-222-2222</p>
          <p>email@myaddress.com</p>
          <p>102 Street Name</p>
          <p>City, State, 0000</p>
        </div>
        <div class="col-md-4">
          <hr class="light">
          <h5>Our Hours</h5>
          <hr class="light">
          <p>Monday: 9am - 8pm</p>
          <p>Friday: 9am - 5pm</p>
          <p>Saturday: 10am - 3pm</p>
          <p>Sunday: Closed</p>
        </div>
          <div class="col-md-4">
          <hr class="light">
          <h5>Our Stores</h5>
          <hr class="light">
          <p>V&A Waterfront</p>
          <p>Canal Walk</p>
          <p>Cavendish Square</p>
          <p>Blue Route</p>
        </div>
        <div class="col-12">
          <hr class="light">
          <h5>&copy; project.com</h5>
        </div>
      </div>
      </div>>
    </footer>
</body>
</html>

