{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Project Video Store</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link rel="stylesheet" href="https://m.w3newbie.com/you-tube.css">
  <!--Using the same style.css as the one used for the index.html-->
  <link rel="stylesheet" type='text/css'  href="{% static 'css/style .css' %}" > 

</head>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark and bg-dark sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="/"><img src="{% static 'img/ProjLogo-01.png' %}"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
		<form class="form-inline my-4 my-lg-0 mx-lg-auto">
			<input class="form-control mr-sm-3" type="search" placeholder="Search movies" aria-label="Search">
			<button class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fas fa-search"></i> Search</button>
		</form>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
				</li>
				<li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"><i class="fas fa-user-circle"></i>  Hi {{ user.username }}!</a>
        </li>
				<li class="nav-item">
            <a class="nav-link" href="logout"><i class="fas fa-home"></i> Sign out</a>
          </li>
			</ul>
		</div>
	</div>
</nav>

  <div class="row">
      {% for movie in movie_list %}
      <div class="col-md-3">
        <div class="card mb-1">
          <img class="card-img-top" src="/media/{{movie.poster}}"
           alt="Card image cap">
          <div class="card-body">
            <p class="card-text">{{ movie.description }}</p>
            <div class="card-footer">
              <form action="{% url 'store:user_returns' %}"method="POST">
                  {% csrf_token %}
                  <label class="btn btn-outline-light my-2 my-sm-0"  type="label">Price : {{movie.price}}</label>
                  <button class="btn btn-outline-light my-2 my-sm-0" onclick="alert('Your return of {{movie.originalTitle}} has been successful!')" type="submit"> Return</button>
                  <input name="movie_name" value="{{movie.originalTitle}}" hidden="" >
                  <input name="movie_id" value="{{movie.ID}}" hidden="" >

                </form>
          </div>
          </div>
        </div>
      </div>
      {% empty %}
    <p>You currently have no movies rented.</p>
     {% endfor %}
  </div>






<!--- Connect -->
<div class="container-fluid padding">
<div class="row text-center padding">
  <div class="col-12">
    <h2 style="color:#ebebeb; font-size:250%;"> Connect </h2>
  </div>
  <div class="col-12 social padding">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
 </div>
 </div>   

<!--- Footer -->
<footer>
<div class="container-fluid padding">
<div class="row text-center">
  <div class="col-md-4">
      <img src="{% static 'img/ProjLogo-01.png' %}">
      <hr class="light">
    <p>222-222-2222</p>
    <p>email@myaddress.com</p>
    <p>102 Street Name</p>
    <p>City, State, 0000</p>
  </div>
  <div class="col-md-4">
    <hr class="light">
    <h5>Our Hours</h5>
    <hr class="light">
    <p>Monday: 9am - 8pm</p>
    <p>Friday: 9am - 5pm</p>
    <p>Saturday: 10am - 3pm</p>
    <p>Sunday: Closed</p>
  </div>
    <div class="col-md-4">
    <hr class="light">
    <h5>Our Stores</h5>
    <hr class="light">
    <p>V&A Waterfront</p>
    <p>Canal Walk</p>
    <p>Cavendish Square</p>
    <p>Blue Route</p>
  </div>
  <div class="col-12">
    <hr class="light">
    <h5>&copy; project.com</h5>
  </div>
</footer>

</body>
</html>




