@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto', sans-serif;
    background: url('homePoster2.jpg') no-repeat center center fixed;
    background-size: cover;
}

.main-section {
    margin: 0 auto;
    margin-top: 100px;
    padding: 0;
}

.modal-content {
    background-color: #000000;
    opacity: 0.8;
    padding: 0 18px;
    border-radius: 10px;
}

.user-image img {
    height: 120px;
    font-weight: 120px;
}

.user-image {
    margin-top: -60px;
    margin-bottom: 45px;
}

.form-group {
    margin-bottom: 25px;
}

.form-group input {
    height: 42px;
    border-radius: 5px;
    border: 0;
    font-size: 18px;
    letter-spacing: 2px;
    padding-left: 54px;
}

.form-group {
    position: relative;
}

.form-group i {
    position: absolute;
    left: 0;
    top: -3px;
    padding: 9px 8px 0 11px;
    color: #292929;
}

.fa-at {
    -webkit-text-stroke: 1.5px;
    color: #292929;
}


/*
.form-group::before {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f1fa";
    position: absolute;
    font-size: 22px;
    left: 28px;
    padding-top: 4px;
    color: #555e60;
}

.form-group:last-of-type::before {
    content: "\f023";
}
*/

.form-input button {
    width: 40%;
    margin: 5px 0 25px;
}

.btn-success {
    background-color: #ffffff;
    color: #000000;
    font-size: 19px;
    border-radius: 5px;
    padding: 7px 14px;
    border: 1px solid#daf1ff;
}

.btn-success:hover {
    background-color: #13445e;
    border: 1px solid#daf1ff;
}

.sign-in {
    padding: 1px 0 25px;
}

.sign-in a {
    color: #ffffff;
}